# eclipse
.project
.classpath
.settings/

# intellij
.idea/
.idea_modules/

# general
.DS_Store
*.log

# jvm
*.class

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
